header {
  max-height: 60px;
  max-width: 95vw;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  border-radius: 5px; }

main {
  max-width: 95vw;
  margin-left: auto;
  margin-right: auto;
  padding: 10px; }

.infoBlock {
  display: block;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 1px;
  min-height: 20px;
  padding: 0 6px 8px 6px !important;
 }

h1 {
  min-width: 20px;
  padding: 3px 10px;
  font-size: 30px;
  background-color: black;
  color: white;
  border-radius: 10px;
  -webkit-box-shadow: 3px 5px 5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 5px 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 5px 5px 1px rgba(0, 0, 0, 0.5);
  margin-block-start: 0.4em;
  &:first-letter {
    color: #cb0ff2;
   } }
h2 {
  min-width: 20px;
  padding: 3px 10px;
  font-size: 25px;
  background-color: black;
  color: white;
  border-radius: 10px;
  -webkit-box-shadow: 3px 5px 5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 5px 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 5px 5px 1px rgba(0, 0, 0, 0.5);
  margin-block-start: 0.4em;
  &:first-letter {
    color: #cb0ff2;
   } }
h3 {
  min-width: 20px;
  padding: 0 10px;
  font-size: 22px;
  background-color: black;
  color: white;
  border-radius: 10px;
  -webkit-box-shadow: 3px 5px 5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 5px 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 5px 5px 1px rgba(0, 0, 0, 0.5);
  margin-block-start: 0.4em;
  &:first-letter {
    color: #cb0ff2;
   } }

.body {
    background-color: red;
    max-height: 100vh; }

.page {
    max-width: 90vw;
    height: 100%;    
    background: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute;  */
    border-radius: 10px;
    padding: 15px 10px 10px 10px;
    margin-right: auto;
    margin-left: auto;
  }
  
span {
  font-size: 5rem; }
  
.button-group__navbar {
  position: absolute;    
  top: 0; }

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.col-1 {
  min-width: 8.33%;
  max-width: 8.33%;
  padding: 3px; }
.col-2 {
  min-width: 16.66%;
  max-width: 16.66%;
  padding: 3px; }
.col-3 {
  min-width: 24.99%;
  max-width: 24.99%;
  padding: 3px; }
.col-4 {
  min-width: 33.3%;
  max-width: 33.3%;
  padding: 3px; }
.col-5 {
  width: 41.66%;
  max-width: 41.66%;
  padding: 3px; }
.col-6 {
  min-width: 50%;
  max-width: 50%;
  padding: 3px; }
.col-7 {
  min-width: 58.33%;
  max-width: 58.33%;
  padding: 3px; }
.col-8 {
  min-width: 66.66%;
  max-width: 66.66%;
  padding: 3px; }
.col-9 {
  min-width: 74.99%;
  max-width: 74.99%;
  padding: 3px; }
.col-10 {
  min-width: 82.33%;
  max-width: 82.33%;
  padding: 3px; }
.col-11 {
  min-width: 90.66%;
  max-width: 90.66%;
  padding: 3px; }
.col-12 {
    min-width: 100%;
    max-width: 100%;
    padding: 3px; }

#mainMenu_top {
  margin-bottom: 5px;
}

#mainMenu_top li {
  display: inline; /* Отображать как строчный элемент */
  max-height: 22px;
  font-size: 18px;
  margin-right: 5px; /* Отступ слева */
  /* margin-bottom: 5px; */
  border: 1px solid #000; /* Рамка вокруг текста */
  padding: 2px 5px; /* Поля вокруг текста */
  border-radius: 5px;
  background-color: black;
  color: white;
  -webkit-box-shadow: 0px 0px 20px 3px rgba(12,  159,  219, 1);
  -moz-box-shadow: 0px 0px 20px 3px rgba(12,  159,  219, 1);
  box-shadow: 0px 0px 20px 3px rgba(12,  159,  219, 1);
  &:hover {
    /* color: #00dbff; */
    color: #cb0ff2;
  }
  
 }
