footer {
    min-width: 100%;
    max-width: 100%;
    min-height: 5vh;
    position: fixed;
    bottom: 0;
    padding: .5rem 1rem;
    background-color: rgb(25, 25, 25);
    color: white;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.54);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.54);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.54);
}