header {
    min-width: 100%;
    max-width: 100%;
    min-height: 8vh;
    max-width: 10vh;
    background-color: rgb(25, 25, 25);
    color: white;
    position: fixed;
    top: 0;
    padding: .5rem 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    font-weight: bold;
    color: rgb(143, 75, 212);
}
  
nav a.router-link-exact-active {
    color: #42b983;
}