.logo_text {
    min-width: 100%;
    max-width: 100%;
    padding: .5rem 1rem;
}

.logo_text_text {
    display: flex;
    background-color: rgb(25, 25, 25);
    border-radius: 1rem;
    padding: 0 10px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.54);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.54);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.54);
    margin-bottom: .5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.logo_text_i, .logo_text_t, .logo_text_d {
    font-weight: 600;
    font-size: 4rem;
    margin-top: auto;
    margin-bottom: auto;
}

.logo_text_i {
    color: white;
}
.logo_text_t {
    color: #42b983;
}
.logo_text_d {
    color: rgb(143, 75, 212);
}

.logo_text_tags {
    /* padding: 0 0; */
    margin-bottom: .5rem;
    margin-left: auto;
    margin-right: auto;
}

.logo_text_tag {    
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
    padding: .2rem .5rem;
    /* margin-right: 1px; */
    margin-top: 3px;
}

.logo_text_tag div {
    background-color: rgb(25, 25, 25);
    min-width: 98%;
    max-width: 98%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}