<div class="row logo_text">
    <div class="col-12 col-xs-12 col-sm-12 col-md-2 col-lg-2 logo_text_text">
        <span class="logo_text_i">I</span>
        <span class="logo_text_t">T</span>
        <span class="logo_text_d">D</span>        
    </div>
    <div class="col-12 col-xs-12 col-sm-12 col-md-10 col-lg-10 logo_text_tags">
        <div class="row" style="width: 100%;">
            <div v-for="tItem in tagsList.sort()" class="logo_text_tag col-6 col-xs-4 col-sm-3 col-md-3 col-lg-3">
                <div>{{tItem}}</div>
            </div>
        </div>        
    </div>
</div>